---
const { post } = Astro.props

function formatDate(date: Date) {
	//return new Date(date).toUTCString().trim() // remove everything after YYYY
	return new Intl.DateTimeFormat("en-GB", {
		dateStyle: "long",
		timeZone: "Europe/Belgrade",
	}).format(new Date(date))
}
---

<article>
	<h3 class="text-lg font-medium leading-7 text-blue-600 decoration-wavy underline-offset-8 md:hover:underline">
		<a href={`/post/${post.frontmatter.slug}`}>{post.frontmatter.title}</a>
	</h3>
	<p>
		<time
			class="text-sm text-gray-400"
			datetime={post.frontmatter.date}>
			{formatDate(post.frontmatter.date)}
		</time>
	</p>
	<div class="meta-information">
		<p>
			{post.frontmatter.description}
		</p>
	</div>
</article>
