---
import { Image } from "astro:assets"
interface Work {
	id: number
	job_title: string
	logo: string
	url: string
	start_date: string
	type: string
	end_date: string
	details: [string]
}
interface Props {
	work: Work
}
const { work } = Astro.props
// dynamic import images
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/logos/*[.svg,.png]",
)
---

<article class="flex gap-4">
	<a
		class="min-w-12 h-12 w-12 p-1 bg-base-paper border-2 border-green rounded-full"
		target="_blank"
		href={work.url}>
		<Image
			width="48"
			height="48"
			src={images[work.logo]()}
			alt="A logo of a compty"
			class="w-full h-full"
		/>
	</a>
	<div class="flex flex-col">
		<span class="text-base-500 text-[12px]"
			>{work.start_date} - {work.end_date}</span
		>
		<h3 class="font-medium text-lg mb-2">{work.job_title}</h3>
		<ul class="list-disc pl-6 text-[12px]">
			{work.details.map((point: string) => <li>{point}</li>)}
		</ul>
	</div>
</article>
